
body.dark {
    background-color: rgb(0, 0, 0);
    color: #fff;
}
footer.dark  {
    background-image: url("https://img.freepik.com/free-vector/futuristic-technological-wallpaper_79603-1093.jpg?w=996&t=st=1729012914~exp=1729013514~hmac=550e654d446272e98133a3edaf5bbdbc74d27ca66422c293392ad236227cb8e3") ;
    color: #fff ;
}
header.dark  {
    background-image: url("https://img.freepik.com/free-vector/futuristic-technological-wallpaper_79603-1093.jpg?w=996&t=st=1729012914~exp=1729013514~hmac=550e654d446272e98133a3edaf5bbdbc74d27ca66422c293392ad236227cb8e3") ;
    color: #fff ;
}
section.dark {
    background-color: #1A1A1A;
    color: #f4f4f4;
}
#theme-toggle{
    background-color: transparent;
    border: none;
}
.video_class.dark{
    background-color: black;
}
/* -------------------- theme button end -------------------  */
*{
   scroll-behavior: smooth  !important ;
}

body {
    backdrop-filter: brightness(50%);
    background: url("https://img.freepik.com/free-vector/realistic-background-futuristic-style_23-2149129125.jpg?w=996&t=st=1729010861~exp=1729011461~hmac=3d5435048d3b93f21480360aeae2cef1b5a4e5b812f553f222cd9637ee64ef34");
    font-family: Arial, sans-serif;
    background-size: 100%;
    background-position: fixed;
    background-repeat: repeat-y;
    width: auto;
    margin: 0;
    padding: 0;
  
    font-family: "Ubuntu", sans-serif;
        font-weight: 300;
        font-style: normal;
}

header {
    background: url("https://img.freepik.com/premium-photo/abstract-futuristic-circuit-board-background_1110022-14934.jpg");
    background-size: 100%;
    color: #fff;
    /* background-repeat: no-repeat; */
    /* object-fit: contain; */
    /* width: 100%; */
    padding: 20px 40px;
    height:700px;
    text-align: center;
}

/* ---------------------- nav bar -------------------- */
nav {
    
    background: transparent;
    backdrop-filter:  blur(2px);
    margin: 10px;
    font-size: larger;
    height: 400px;
    background-size: 100%;
    display: flex;
    justify-content: center;
    align-items: center;
    text-align: center;
    transition: all ease-in-out 0.3s;
}
nav:hover{
    backdrop-filter:  blur(39px);
    border-radius: 1200px;
}
nav a {
    margin: 0 15px;
    color: #fff;
    text-decoration: none;
    transition: all ease-in-out 0.3s;
    font-family: "Baloo Bhaina 2", sans-serif;
  font-optical-sizing: auto;
  font-weight: 400;
  font-style: normal;
}
nav a:hover{
    border-radius: 900px;
    font-size:xx-large;
}
#main_heading{
    font-size: 60px;
    margin: 80px 0px;
    font-family: "Merriweather", serif;
    font-weight: 700;
    font-style: normal;
}
section  {
    padding: 20px;
    margin: 10px;
    background: #fff;
    border-radius: 5px;
    height: auto;
}
/* ------------------- home */
#home{
    text-align: center;
}
.home_video{
    width: 1300px;
    height: 450px;
    object-fit:cover;
}
/* -----------------------New Technologies */
.New_Technologies{
    padding-left: 40px;
    width: 900px;
    height: 400px;
    margin-left: 250px;
    object-fit: cover;
}
/* ------------ video class */
.video_class{
    background-color: #F5F5F5;
    
}
/* --------------------- it_com_video */

.it_com_intro_vide{
    width: 1450px;
    height: 450px;
    object-fit:cover;
    margin-left: 5px;
}
/* ----------------- ai video */
.ai_video{
    padding-left: 00px;
    width: 900px;
    height: 400px;
    margin-left: 250px;
    object-fit: cover;
}
/* ------------------- cloud_video */
.cloud_video{
    padding-left: 00px;
    width: 900px;
    height: 400px;
    margin-left: 250px;
    object-fit: cover;
}
/* --------------------------block_chain */
.block_chain{
    padding-left: 00px;
    width: 900px;
    height: 400px;
    margin-left: 250px;
    object-fit: cover;
}
/* -----------------------Five_G_video */
.Five_G_video{
    padding-left: 00px;
    width: 900px;
    height: 400px;
    margin-left: 250px;
    object-fit: cover;
    background-color: azure;
}
/* -----------------------Internet_of_Things */
.Internet_of_Things{
    padding-left: 00px;
    width: 900px;
    height: 400px;
    margin-left: 250px;
    object-fit: cover;
}
/* ------------------ it comp */
.sub_head{
    text-decoration: solid;
    font-size: larger;
    font-size: x-large;
    font-weight: 700;
    font-style: normal;
}

/* ---------- paragraph */
.para{
    word-break: break-all;
    font-size: larger;
}
footer {
    text-align: center;
    padding: 10px 0;
    background: url("https://img.freepik.com/premium-photo/abstract-futuristic-circuit-board-background_1110022-14934.jpg");
    color: #fff;
    position: relative;
    bottom: 0;
    width: 100%;
}

/* ------------------------ Contexts us ------------------ 
 */
.Forms{
   
    font-size: x-large;
    text-align: center;
    width: 100%;
    display: flex;
    justify-content: center;
    align-items: center;
}
.Forms input{
    text-align: center;
    color: black;

    margin: 15px 0px;
    width: 300px;
    height: 30px;
}
.content_btn{
    cursor: pointer;
    background: transparent;
    font-size: large;
    border: transparent;
    color: #fff;
    width:90px;
    height: 60px;
}
.content_btn{
    cursor: pointer;
    background: transparent;
    font-size: large;
    border: transparent;
    color: #fff;
    width:90px;
    height: 60px;
}
#theme-toggle{
    position: static;
    margin-left: 1350px;
    top: 5%;
}


@import url(https://fonts.bunny.net/css?family=amita:700);


.container  img {
    --brightness: 0.75;
    --grayscale: 1;
    width: 350px;
    height: 300px;
    margin: 10px;
    /* border: 10px solid #fefae0; */
    filter: grayscale(var(--grayscale)) brightness(var(--brightness));
    transition-duration: 1s;
}

.container img:hover {
    border: 5px solid #fff;
    -webkit-transform: scale(1.1);
    -ms-transform: scale(1.1);
    transform: scale(1.1);
    -webkit-filter: none;
    filter: none;
}
.container{
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    align-items: center;
}





@import "https://unpkg.com/open-props";
@import "https://unpkg.com/open-props/normalize.min.css";
  
